# copy and rename to .env before "docker-compose up" or running dev.

# steam api key - https://steamcommunity.com/dev/apikey
STEAM_SECRET="long_string_here"

# your domain
NEXTAUTH_URL="http://localhost:3000"

# generated secret, please generate new secret
NEXTAUTH_SECRET="uHUIArmOK0Za6pY9KtIuhsiu0UYGJPEc"

# database url. Remember to change:
# - username
# - password
# - localhost
# - db_name
DATABASE_URL="postgresql://username:password@localhost:5432/db_name?schema=public"